@import "styles/_variables";
@import "styles/_mixins";
.subrnd{
    @include subComponentsStyle();
    padding-top: 0px;
    height: 100vh;
    // border: 5px red solid;
    box-sizing:border-box;
    overflow-x: hidden;
    // display: block;
    .title-area{
        background: #DBDBDB;
        height:30vh;
        // border: 1px blue solid;
        display:flex;
        justify-content:center;
        align-items:flex-end;
        >.title-grid{
            // border:1px red solid;
            display: inline-grid;
            grid-template-columns: auto 4fr;
            grid-template-rows: repeat(10, 1fr);
            width: 80%;
            height: 60%;
            margin-left:10%;
            >div{
                display:flex;
                align-items:center;
                font-family: "Noto Sans KR";
                &:nth-child(1){
                    grid-column:1/2;
                    grid-row:2/7;
                    border-right:2px black solid;
                    font-style: normal;
                    font-weight: bold;
                    line-height:140%;
                    // font-size: 32px;
                    font-size: 1.6vw;
                    color: #121212;
                    padding-bottom: 1vw;
                    padding-right: 2vw;
                }
                &:nth-child(2){
                    grid-column:1/2;
                    grid-row:7/9;
                    border-right:2px black solid;
                    font-style: normal;
                    font-weight: normal;
                    // font-size: 17px;
                    font-size: 1.2vw;
                    color: #A6A6A6;
                    padding-top: 1vw;
                }
                &:nth-child(3){
                    grid-column:2/3;
                    grid-row:2/5;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 1.5vw;
                    color: #121212;
                    padding-left: 2.5vw;
                    padding-bottom: 1vw;
                }
                &:nth-child(4){
                    grid-column:2/3;
                    grid-row:5/10;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 1.2vw;
                    color: #121212;
                    padding-left: 2.5vw;
                }
            }
        }
    }
    >.img-container1{
        // border: 1px blue solid;
        // height: 70%;
        display:flex;
        flex-direction: column;
        align-items:center;
        >img{
            user-drag: none; 
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            padding: 3% 0%;
            &:nth-child(1){
                // border: 1px red solid;
                // height:70vh;
                width:70vw;
            }
            &:nth-child(2){
                // border: 1px red solid;
                width:80vw;
                align-self:flex-end;
            }
            &:nth-child(3){
                // border: 1px red solid;
                width:80vw;
                align-self:flex-start;
            }
        }
    }
    >.img-container2{
        // border: 1px blue solid;
        // height: 70%;
        display:flex;
        flex-direction: column;
        align-items:center;
        >img{
            user-drag: none; 
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            padding: 3% 0%;
            &:nth-child(1){
                // border: 1px red solid;
                // height:70vh;
                width:70vw;
            }
            &:nth-child(2){
                width:70vw;
            }
            &:nth-child(3){
                // border: 1px red solid;
                width:80vw;
                align-self:flex-end;
            }
            &:nth-child(4){
                // border: 1px red solid;
                width:80vw;
                align-self:flex-start;
            }
        }
    }
    >.img-container3{
        // border: 1px blue solid;
        // height: 70%;
        display:flex;
        flex-direction: column;
        align-items:center;
        >img{
            user-drag: none; 
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            padding: 3% 0%;
            &:nth-child(1){
                // border: 1px red solid;
                // height:70vh;
                width:65vw;
            }
            &:nth-child(2){
                // border: 1px red solid;
                width:80vw;
                align-self:flex-end;
            }
            &:nth-child(3){
                // border: 1px red solid;
                width:80vw;
                align-self:flex-start;
            }
        }
    }
    >.subrnd-bottom{
        width: 99vw;
        // border: 1px red solid;
        height: 13vw;
        background: rgba(219, 219, 219, 0.2);
        display:flex;
        align-items:center;
        padding-left: 10vw;
        box-sizing: border-box;
        >div{
            &:nth-child(1){
                // border: 1px red solid;
                display:grid;
                grid-template-columns:repeat(7, 1fr);
                grid-template-rows: 3fr 1fr;
                >div{
                    &:nth-child(1){
                        font-family: "Montserrat";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 26px;
                        color: #121212;
                        grid-column: 1/-1;
                        grid-row:1/2;
                    }
                    &:nth-child(2){
                        grid-column: 1/3;
                        grid-row:2/3;
                        border-bottom: 2px black solid;
                    }
                }
            }
            &:nth-child(2){
                // border: 1px red solid;
                // width: 20vw;
                font-family: "Noto Sans KR";
                font-style: normal;
                font-weight: bold;
                font-size: 30px;
                color: #121212;
                margin: 0px 2vw;
            }
        }
        >img{
            cursor: pointer;
            // border: 1px red solid;
            &:hover{
                filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.2))
            }
        }
    }
}