@import "styles/_variables";
@import "styles/_mixins";

.patent {
  @include subComponentsStyle();
  height: calc(100vh - 50px);
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  box-sizing: border-box;
  // border: 1px red solid;

  .patent-flex-top {
    box-sizing: border-box;
    // border: 1px blue solid;
    display: flex;
    height: 70%;
    width: 80%;
    .patent-top-left {
      // border: 2px green solid;
      // height: 70%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: left;
      background-position-y: bottom;
      filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.2));
      > img {
        visibility: hidden;
        height: 100%;
      }
    }
    .patent-top-right {
      // height: 70%;
      width: 40vw;
      margin-left: 1vw;
      background: #fafafa;
      border: 2px solid #e0e0e0;
      // border: 2px blue solid;
      box-sizing: border-box;
      border-radius: 10px;

      .content-text {
        // border: 2px yellow solid;
        display: grid;
        grid-template-columns: repeat(4, 1fr) 6fr 1fr;
        // grid-template-rows: 5% 12% 5% repeat(4, 15%) 30% 15%;
        // grid-template-rows: 10% 10% 10% repeat(4, 10%) 20% 10%;
        grid-template-rows: 5% 10% 10% repeat(4, 10%) 20% 15%;
        width: 100%;
        height: 100%;
        // min-width:910px;
        // min-height: 90%;
        font-family: "Noto Sans KR";
        // font-size: 20px;
        font-weight: 300;
        font-style: normal;
        font-size: 1.1vw;

        // font-family: Noto Sans KR;
        // font-style: normal;
        // font-weight: normal;
        // font-size: 21px;
        // line-height: 30px;

        // color: #121212;

        .content-title {
          grid-column: 2/4;
          grid-row: 2/3;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          color: white;
          font-style: bold;
          font-weight: 900;

          // border:1px red solid;
          > div {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #0a347f;
            color: white;
            height: 80%;
            padding: 0px 1vw;
            border-radius: 3px;
          }
        }

        .content-name {
          grid-column: 2/4;
          grid-row: 4/5;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
        }

        .content-name-right {
          grid-column: 4/-2;
          grid-row: 4/5;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          font-style: normal;
          font-weight: normal;
        }

        .content-number {
          grid-column: 2/4;
          grid-row: 5/6;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
        }

        .content-number-right {
          grid-column: 4/-2;
          grid-row: 5/6;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          font-style: normal;
          font-weight: normal;
        }

        .content-date1 {
          grid-column: 2/4;
          grid-row: 6/7;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
        }

        .content-date1-right {
          grid-column: 4/-2;
          grid-row: 6/7;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          font-style: normal;
          font-weight: normal;
        }

        .content-date2 {
          grid-column: 2/4;
          grid-row: 7/8;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
        }

        .content-date2-right {
          grid-column: 4/-2;
          grid-row: 7/8;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          font-style: normal;
          font-weight: normal;
        }

        .content-description {
          grid-column: 2/4;
          grid-row: 8/9;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
        }

        .content-description-right {
          grid-column: 4/-2;
          grid-row: 8/9;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          font-style: normal;
          font-weight: normal;
        }

        .content-inventor {
          grid-column: 2/4;
          grid-row: 9/10;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
        }

        .content-inventor-right {
          grid-column: 4/-2;
          grid-row: 9/10;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          font-style: normal;
          font-weight: normal;
        }
      }
    }
  }
  .patent-flex-bottom {
    // border: 1px red solid;
    width: 80%;
    height: 30%;
    display: flex;
    align-items: flex-end;
    > .menu-thumbnail {
      // border: 1px red solid;
      margin-right: 10px;
      height: 100%;
      // width: 20%;
      > .menu-patent,
      > .menu-copyright {
        height: 1.5rem;
        display: flex;
        align-items: flex-end;
        // border: 1px red solid;
      }
      > img {
        // border: 1px blue solid;
        // width: 100%;
        height: 80%;
      }
    }
  }

  .patent-grid {
    // border: 5px black solid;
    // display: grid;
    // // grid-template-columns: repeat(5, 1fr);
    // grid-template-columns: 1fr;
    // // grid-template-rows: 17fr auto;
    // grid-template-rows: 1fr;
    // gap: 10px;
    display: flex;
    flex-direction: column;
    // height: 95%;
    // width: 80%;
    // justify-items: center;
    // align-items: center;
    height: 100%;
    width: 80%;
    border: 2px blue solid;
    .content-top {
      display: flex;
      .content-left {
        // border: 2px blue solid;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: left;
        background-position-y: bottom;
        // background: red;
        // height: 50vh;
        // width: 35%;
        // height: 100%;
        // border-radius: 10px;
        filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.2));
        display: flex;
        align-items: flex-end;
        > img {
          // visibility: hidden;
          // height: 60vh;
          height: 80%;
        }
      }

      .content-right {
        // margin-left: 35%;
        margin-right: 20px;
        background: #fafafa;
        border: 2px solid #e0e0e0;
        // border: 2px blue solid;
        box-sizing: border-box;
        border-radius: 10px;
        // align-self: stretch;
        // justify-self: stretch;
        display: flex;
        justify-content: center;
        align-items: center;

        // border: 1px red solid;
        .content-text {
          border: 2px red solid;
          display: grid;
          grid-template-columns: repeat(4, 1fr) 6fr 1fr;
          // grid-template-rows: 5% 12% 5% repeat(4, 15%) 30% 15%;
          // grid-template-rows: 10% 10% 10% repeat(4, 10%) 20% 10%;
          grid-template-rows: 8% 7% repeat(5, minmax(40px, 10%)) 18% 10%;
          width: 100%;
          // height: 100%;
          // min-width:910px;
          // min-height: 90%;
          font-family: "Noto Sans KR";
          // font-size: 20px;
          font-weight: 300;
          font-style: normal;
          font-size: 1.1vw;

          // font-family: Noto Sans KR;
          // font-style: normal;
          // font-weight: normal;
          // font-size: 21px;
          // line-height: 30px;

          // color: #121212;

          .content-title {
            grid-column: 2/4;
            grid-row: 2/3;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: white;
            font-style: bold;
            font-weight: 900;

            // border:1px red solid;
            > div {
              display: flex;
              justify-content: center;
              align-items: center;
              background: #0a347f;
              color: white;
              height: 100%;
              padding: 0px 1vw;
              border-radius: 3px;
            }
          }

          .content-name {
            grid-column: 2/4;
            grid-row: 4/5;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
          }

          .content-name-right {
            grid-column: 4/-2;
            grid-row: 4/5;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            font-style: normal;
            font-weight: normal;
          }

          .content-number {
            grid-column: 2/4;
            grid-row: 5/6;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
          }

          .content-number-right {
            grid-column: 4/-2;
            grid-row: 5/6;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            font-style: normal;
            font-weight: normal;
          }

          .content-date1 {
            grid-column: 2/4;
            grid-row: 6/7;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
          }

          .content-date1-right {
            grid-column: 4/-2;
            grid-row: 6/7;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            font-style: normal;
            font-weight: normal;
          }

          .content-date2 {
            grid-column: 2/4;
            grid-row: 7/8;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
          }

          .content-date2-right {
            grid-column: 4/-2;
            grid-row: 7/8;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            font-style: normal;
            font-weight: normal;
          }

          .content-description {
            grid-column: 2/4;
            grid-row: 8/9;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
          }

          .content-description-right {
            grid-column: 4/-2;
            grid-row: 8/9;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            font-style: normal;
            font-weight: normal;
          }

          .content-inventor {
            grid-column: 2/4;
            grid-row: 9/10;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
          }

          .content-inventor-right {
            grid-column: 4/-2;
            grid-row: 9/10;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            font-style: normal;
            font-weight: normal;
          }
        }
      }
    }

    .menu-patent {
      grid-column: 1/2;
      grid-row: 2/3;
      justify-self: start;
      align-self: end;
      font-family: "Noto Sans KR";
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      // line-height: 20px;
      color: #121212;
      // border: 1px red solid;
      height: 1.5rem;
    }

    .menu-copyright {
      grid-column: 4/5;
      grid-row: 2/3;
      justify-self: start;
      align-self: end;
      font-family: "Noto Sans KR";
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      // line-height: 20px;
      color: #121212;
      // border: 1px red solid;
      height: 1.5rem;
    }

    .menu-bottom {
      grid-column: 1/-1;
      grid-row: 2/-1;
      background: gray;
      // filter: drop-shadow(1px 1px 5px #000);
      // border-radius: 10px;
      width: 100%;
      // height: 70%;
      // overflow: hidden;
      justify-items: center;
      align-items: center;
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      // border: 3px blue solid;

      .menu-thumbnail {
        position: relative;
        // grid-column: 1/-1;
        // grid-row: 1/-1;
        // position: relative;
        // top: -15%;
        // margin-top:-10px;
        // width: 20%;
        height: 100%;
        max-width: 15%;
        // border: 3px red solid;

        > img {
          width: 95%;
          // height: 100%;
          margin-right: 1vw;
        }

        // border: 3px green solid;
        box-sizing: border-box;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          // -webkit-filter: brightness(50%);
          // background-color: rgba(0,0,0,0.8);
          cursor: pointer;
        }

        &.activated {
          // -webkit-filter: brightness(50%);
          // opacity:0.5;
          // background: rgba(0,0,0,0.8);
          // background-color: rgba(0,0,0,0.1);
          // border: 3px red solid;
        }

        .menu-check {
          // grid-column: 1/-1;
          // grid-row: 1/-1;
          // align-self: start;
          // background: black;
          position: absolute;
          top: 0px;
          -webkit-filter: brightness(100%);
          width: 20%;
          height: 20%;
          // margin-top: 40%;
          // position: relative;
          // top:0px;
          // border: 3px green solid;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      // .menu-check {
      //   grid-column: 1/-1;
      //   grid-row: 1/-1;
      //   align-self: start;
      //   // background: black;
      //   -webkit-filter: brightness(100%);
      //   width: 20%;
      //   height: 20%;
      //   // margin-top: 40%;
      //   // position: relative;
      //   // top:0px;
      //   border: 3px blue solid;
      //   background-size: contain;
      //   background-repeat: no-repeat;
      //   background-position: center;

      // }
    }
  }
}
