@import "styles/_variables";
@import "styles/_mixins";

.patent {
  @include subComponentsStyle();
  height: calc(100vh - 100px);
  padding-bottom: 0px;
  display: flex;
  justify-content: center;

  .patent-grid {
    // border: 5px black solid;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 17fr 1fr 7fr;
    gap: 10px;
    // height: 95%;
    // width: 80%;
    justify-items: center;
    align-items: stretch;
    width:80%;

    .main-left {
      grid-column: 1/-1;
      grid-row: 1/2;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left;
      // background: red;
      // border: 2px blue solid;
      width: 100%;

      border-radius: 10px;
      filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.2));
    }

    .content-right {
      grid-column: 1/-1;
      grid-row: 1/2;
      margin-left:35%;
      margin-right: 20px;
      background: #FAFAFA;
      border: 2px solid #E0E0E0;
      box-sizing: border-box;
      border-radius: 10px;
      align-self: stretch;
      justify-self: stretch;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      // border: 1px red solid;
      .content-text {
        display: grid;
        grid-template-columns: repeat(4, 1fr) 6fr 1fr;
        // grid-template-rows: 5% 12% 5% repeat(4, 15%) 30% 15%;
        // grid-template-rows: 10% 10% 10% repeat(4, 10%) 20% 10%;
        grid-template-rows: 8% 7% repeat(5, minmax(40px, 10%)) 18% 10%;
        width: 100%;
        // min-width:910px;
        min-height: 90%;
        font-family: "Montserrat";
        // font-size: 20px;
        font-size:1.2vw;

        .content-title {
          grid-column: 2/4;
          grid-row: 2/3;
          background: #0A347F;
          border-radius: 3px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          font-style: bold;
          font-weight: 900;
        }

        .content-name {
          grid-column: 2/4;
          grid-row: 4/5;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
        }

        .content-name-right {
          grid-column: 4/-2;
          grid-row: 4/5;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          font-style: bold;
          font-weight: 900;
        }

        .content-number {
          grid-column: 2/4;
          grid-row: 5/6;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
        }

        .content-number-right {
          grid-column: 4/-2;
          grid-row: 5/6;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          font-style: bold;
          font-weight: 900;
        }

        .content-date1 {
          grid-column: 2/4;
          grid-row: 6/7;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
        }

        .content-date1-right {
          grid-column: 4/-2;
          grid-row: 6/7;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          font-style: bold;
          font-weight: 900;
        }

        .content-date2 {
          grid-column: 2/4;
          grid-row: 7/8;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
        }

        .content-date2-right {
          grid-column: 4/-2;
          grid-row: 7/8;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          font-style: bold;
          font-weight: 900;
        }

        .content-description {
          grid-column: 2/4;
          grid-row: 8/9;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
        }

        .content-description-right {
          grid-column: 4/-2;
          grid-row: 8/9;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          font-style: bold;
          font-weight: 900;
        }

        .content-inventor {
          grid-column: 2/4;
          grid-row: 9/10;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
        }

        .content-inventor-right {
          grid-column: 4/-2;
          grid-row: 9/10;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          font-style: bold;
          font-weight: 900;
        }
      }
    }

    .menu-patent {
      grid-column: 1/2;
      grid-row: 2/3;
      justify-self: start;
      align-self: end;
      font-family: "Noto Sans KR";
      font-style: normal;
      font-weight: normal;
      font-size: 1.5rem;
      line-height: 20px;
      color: #121212;
    }

    .menu-copyright {
      grid-column: 4/5;
      grid-row: 2/3;
      justify-self: start;
      align-self: end;
      font-family: "Noto Sans KR";
      font-style: normal;
      font-weight: normal;
      font-size: 1.5rem;
      line-height: 20px;
      color: #121212;
    }

    .menu-bottom {
      grid-column:1/-1;
      grid-row: 3/-1;
      // background: gray;
      // filter: drop-shadow(1px 1px 5px #000);
      border-radius: 10px;
      width: 100%;
      // height: 70%;
      overflow: hidden;
      justify-items: center;
      align-items: center;
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      // border: 3px blue solid;

      .menu-thumbnail {
        position: relative;
        // grid-column: 1/-1;
        // grid-row: 1/-1;
        // position: relative;
        // top: -15%;
        // margin-top:-10px;
        width: 20%;
        height: 100%;
        >img{
          width:95%;
        }
        // border: 3px green solid;
        box-sizing: border-box;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          // -webkit-filter: brightness(50%);
          // background-color: rgba(0,0,0,0.8);
          cursor: pointer;
        }

        &.activated {
          // -webkit-filter: brightness(50%);
          // opacity:0.5;
          // background: rgba(0,0,0,0.8);
          // background-color: rgba(0,0,0,0.1);
          // border: 3px red solid;
        }
        .menu-check {
          // grid-column: 1/-1;
          // grid-row: 1/-1;
          // align-self: start;
          // background: black;
          position: absolute;
          top:0px;
          -webkit-filter: brightness(100%);
          width: 20%;
          height: 20%;
          // margin-top: 40%;
          // position: relative;
          // top:0px;
          // border: 3px green solid;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;

        }
      }

      // .menu-check {
      //   grid-column: 1/-1;
      //   grid-row: 1/-1;
      //   align-self: start;
      //   // background: black;
      //   -webkit-filter: brightness(100%);
      //   width: 20%;
      //   height: 20%;
      //   // margin-top: 40%;
      //   // position: relative;
      //   // top:0px;
      //   border: 3px blue solid;
      //   background-size: contain;
      //   background-repeat: no-repeat;
      //   background-position: center;

      // }
    }
  }
}