@import "styles/_variables";
@import "styles/_mixins";

.rnd {
  @include subComponentsStyle();

  .rnd-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;

    img {
      width: 50%;

      &:nth-child(odd) {
        justify-self: end;
      }

      &:nth-child(even) {
        justify-self: start;
      }
    }
  }
}