@import "styles/_variables";
@import "styles/_mixins";

.hm3-body-wrapper {
  // position: relative;
  // height:80%;
  // border: 4px red solid;
  box-sizing: border-box;

  // height: 188%;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;

  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }

  .hm3-box1 {
    position: relative;
    // border: 4px blue solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    ;

    >div:nth-child(1) {
      // border:1px red solid;
      display: flex;
      justify-content: flex-start;
      // height:10%;
      width: 90%;

      >div {
        // border:1px blue solid;
        // margin-right: 10%;
        margin: 10% 5% 4% 0;
      }
    }

    >table {
      border-collapse: collapse;
      // border:1px red solid;
      width: 90%;
      border-top: 3px black solid;

      th,
      td {
        height: 5vw;
        font-size: 3.5vw;
        font-family: "Noto Sans KR";
        height: 50px;

        // border:1px blue solid;
        &:nth-child(1) {
          width: 12%;
          text-align: center;
          color: #333333;
        }

        &:nth-child(2) {
          // border:1px blue solid;
          width: 68%;
          text-align: left;
          padding-left: 5%;
        }

        &:nth-child(3) {
          // border:1px blue solid;
          width: 20%;
          text-align: center;
          color: #333333;
        }
      }

      tr {
        height: 5vw;
        border-bottom: 1px black solid;
      }

      >tbody {
        >tr {
          >td {
            &:nth-child(1) {
              >div {
                display: flex;
                align-items: center;
                justify-content: center;
                // border:1px red solid;
                border-radius: 50px;
                height: 60%;
                color: white;
                font-weight: bold;
                background-color: #0032A0;
              }
            }
          }
        }
      }
    }

    >div:nth-child(3) {
      display: flex;
      // border:12px blue solid;
      width: 80%;
      height: 8vw;
      margin: 3% 0 8% 0;

      >div {
        display: flex;
        justify-content: center;
        align-items: center;

        &:nth-child(n+3) {
          white-space: nowrap;
          // border:1px red solid;
          background-color: #0032A0;
          color: white;
          padding: 0 8px;
        }

        &:nth-child(4) {
          margin-left: auto;
        }
      }
    }
  }

  .hm3-box2 {
    // border:4px red solid;
    width: 90%;
    margin: 10% 5%;

    >div:nth-child(1) {
      // border:1px blue solid;
      font-family: "Noto Sans KR";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 23px;

      color: #333333;
    }

    >div:nth-child(2) {
      margin-top: 2vw;
      font-weight: 300;
      font-size: 11px;
      line-height: 16px;

      color: #333333;
    }

    >div:nth-child(3) {
      margin-top: 6vw;
      padding: 2vw;
      background: #F9F9F9;
      border: 1px solid #CCCCCC;
      box-sizing: border-box;
      overflow: scroll;
      height: 50vh;
    }

    >div:nth-child(4) {
      margin-top: 4vw;
    }

    >div:nth-child(5) {
      margin-top: 10vw;
      margin-bottom: 20vw;
      display: flex;
      justify-content: center;

      >span {
        // border:1px red solid;
        width: 30vw;
        height: 8vw;
        margin: 0 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

        &:nth-child(1) {
          background-color: #ADAEAF;
        }

        &:nth-child(2) {
          background-color: #ADAEAF;
        }

        &:nth-child(3) {
          background-color: #0032A0;
        }
      }
    }
  }

  .hm3-box3 {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    // border: 5px blue solid;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;

    // z-index: 3;
    >div {
      width: 70vw;
      height: 20vh;
      background: white;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}