@import "styles/_buttons";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');
$minIphoneWidth: 350px;
$maxIphoneWidth: 690px;
$minIphoneWidth-l: 800px;
$maxIphoneWidth-l: 900px;
$minIphoneHeight-l: 350px;
$maxIphoneHeight-l: 400px;
$minIpadWidth: 750px;
$maxIpadWidth: 1030px;
$minIpadWidth-l: 1000px;
$maxIpadWidth-l: 1400px;

@mixin NavResponsiveExceptSmartphone() {
  @media screen and (min-width: 690px) {
    @content;
  }

  // @if $screenX > 1280px {
  //   color: red;
  // } @else if $screenX > 1920px {
  //   color: blue;
  // }
}

@mixin responsive($device) {
  @if $device=="iphone" {
    @media screen and (min-width: $minIphoneWidth) and (max-width: $maxIphoneWidth) {
      @content;
    }
  }

  @else if $device=="iphone-l" {
    @media screen and (min-width: $minIphoneWidth-l) and (max-width: $maxIphoneWidth-l) and (min-height: $minIphoneHeight-l) and (max-height: $maxIphoneWidth-l) and (orientation: landscape) {
      @content;
    }
  }

  @else if $device=="ipad" {
    @media screen and (min-width: $minIpadWidth) and (max-width: $maxIpadWidth) {
      @content;
    }
  }

  @else if $device=="ipad-l" {
    @media screen and (min-width: $minIpadWidth-l) and (max-width: $maxIpadWidth-l) and (orientation: landscape) {
      @content;
    }
  }
}

@mixin commonSnapDivStyle {
  // scroll-snap-type: y mandatory;
  // scroll-behavior: smooth;
  padding: 0px 0px 0px 300px;
  height: 100vh;
  overflow-y: scroll;
  // border: 10px green solid;
  // box-sizing: border-box;
}

@mixin menuDivStyle {
  .menu {
    position: fixed;
    top: 100px;
    left: 0px;
    width: 300px;
    height: 100vh;

    // border: 1px green solid;

    // box-sizing: border-box;
    ul {
      // border: 1px blue solid;
      // box-sizing: border-box;
      padding: 100px 0px 0px 70px;

      li {
        @extend %menuButton;
        // border: 1px blue solid;

        &:hover {
          opacity: 1;
        }

        &.enabled {
          border-left: 3px #121212 solid;
          opacity: 1;
        }

        // border: 1px $blue solid;
        // box-sizing: border-box;
      }
    }
  }
}

@mixin subComponentsStyle {
  // scroll-snap-align: start;
  padding-top: 100px;
  // padding-bottom: 35px;
  // border: 4px red solid;
  // height: calc(100vh - 100px);
  // height: calc(100vh - 20vh);
  // @include animation(0s, 4s, 1, forwards, fadein);
  @include animation(0s, 1s, 1, forwards, slideup_fadein);
}

@mixin animation($delay, $duration, $iter, $fill, $name) {
  animation-delay: $delay;
  animation-duration: $duration;
  animation-iteration-count: $iter;
  animation-fill-mode: $fill;
  animation-name: $name;
  // animation: fadein 3s;
  // -moz-animation: fadein 3s; /* Firefox */
  // -webkit-animation: fadein 3s; /* Safari and Chrome */
  // -o-animation: fadein 3s; /* Opera */
}

@mixin keyframe($animation_name) {
  @keyframes #{$animation_name} {
    @content;
  }
}