@import "styles/_variables";
@import "styles/_mixins";

.home {
  .svgtest {
    position: absolute;
    bottom: 10vh;
    left: 10vw;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100vw;
    // border: 1px red solid;
    .squiggle {
      // display: none;
      stroke-dasharray: 450;
      stroke-dashoffset: 450;
      &.trigger {
        @include animation(3s, 3s, 1, forwards, draw);
      }
    }
  }
  // padding: 0px 0px 0px 300px;
  // border: 20px blue solid;
  // width: 100vw;
  position: relative;
  height: 100vh;
  // background: white;
  // z-index: -2;
  // background: rgba(10, 52, 127, 0.98);
  overflow-x: hidden;
  // overflow: hidden;
  // box-sizing: border-box;
  // overflow: hidden;
  // background: skyblue;

  // &:hover {
  //   border: 1px red solid;
  // }
  // border: 1px red solid;
  .emptyBackground {
    width: 100%;
    height: 100%;

    h2 {
      position: absolute;
      bottom: 10%;
      // left: 150px;
      width: 100vw;
      font-family: "Montserrat";
      font-style: bold;
      font-weight: 900;
      // font-size: 80px;
      // font-size: 5rem;
      padding-left: 8vw;
      font-size: 5vw;
      line-height: 6vw;
      color: black;
      overflow: hidden;
      // border: 1px blue solid;
      // box-sizing: border-box;
      // @include widthCalc();

      // @include responsive("iphone") {
      //   color: red;
      // }
      // @include responsive("iphone-l") {
      //   color: red;
      //   border: 1px red solid;
      // }
      // @include responsive("ipad") {
      //   color: yellow;
      // }
      // @include responsive("ipad-l") {
      //   color: yellow;
      //   border: 1px yellow solid;
      // }
    }
  }
}
