@import "styles/_variables";
@import "styles/_mixins";

.header {
  font-family: "Noto Sans KR";
  font-weight: 300;
  font-size: 1.2rem;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  max-height: 100px;
  width: 100%;
  display: flex;
  // grid-template-columns: 1fr 1fr;
  /* required */
  justify-content: space-between;
  align-items: center;
  // padding: 30px 0px 30px 0px;
  background: rgba(255, 255, 255, 0.3);
  // border: 1px $red solid;
  // box-sizing: border-box;
  // &:hover {
  //   border: 1px $red solid;
  //   box-sizing: border-box;
  // }

  &.main {
    background: rgba(0, 0, 0, 0.3);
  }

  a {
    // grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    img {
      grid-column: 1/2;
      grid-row: 1/2;
      height: 40px;
      margin-left: 5vw;

      &:nth-child(1) {
        &.turnBlue {
          // border: 1px $blue solid;
          // box-sizing: border-box;
          @include animation(0s, 3s, 1, forwards, fadeout);
        }
      }

      &:nth-child(2) {

        opacity: 0;

        &.turnBlue {
          // border: 1px $blue solid;
          // box-sizing: border-box;
          @include animation(0s, 3s, 1, forwards, fadein);
        }
      }
    }
  }

  ul {
    grid-column: 2/3;
    // border: 10px red solid;
    justify-self: end;

    margin-right: 50px;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr repeat(3, 3fr) 1fr;
    grid-template-rows: 1fr;
    // justify-content: space-between;
    width: 500px;

    .modal {
      display: none;
    }

    @include NavResponsiveExceptSmartphone() {
      &:hover {
        .modal {
          position: fixed;
          top: 0px;
          right: 0px;
          // max-width: 550px;
          width: 550px;
          height: 100vh;
          display: block;
          background: rgba(250, 250, 250, 1);
          color: black;

          &.main {
            background: rgba(10, 52, 127, 0.98);
            color: white;

            &.turnBgWhite {
              background: rgba(250, 250, 250, 1);
              // @include animation(0s, 3s, 1, forwards, turnBgWhite);
            }
          }

          // box-sizing: border-box;
        }
      }
    }

    li {
      // border: 1px green solid;
      display: flex;
      justify-content: center;
      color: white;
      z-index: 1;

      &:nth-child(1) {
        grid-row: 1/2;
        grid-column: 2/3;
      }

      &:nth-child(2) {
        grid-row: 1/2;
        grid-column: 3/4;
      }

      &:nth-child(3) {
        grid-row: 1/2;
        grid-column: 4/5;
      }

      a {
        text-decoration: none;
        text-underline-offset: 7px;
        color: black;

        &.main {
          color: white;

          &.turnColorBlack {
            // color: black;
            @include animation(0s, 3s, 1, forwards, turnColorBlack);
          }
        }

        &:hover {
          text-decoration: underline;
        }

        &.active {
          text-decoration: underline;
        }
      }

      // border: 1px $blue solid;
      // box-sizing: border-box;
    }
  }
}