@import "_variables";
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  border: 1px $red solid;
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 30px 6% 0% 6%;
  img {
    height: 40px;
    // border: 1px $blue solid;
    // box-sizing: border-box;
  }
  ul {
    display: flex;
    justify-content: space-around;
    width: 500px;
    // border: 1px $blue solid;
    // box-sizing: border-box;
    li {
      display: inline-block;
      a {
        text-decoration: none;
        color: $header-text-color-dark;
      }
      // border: 1px $blue solid;
      // box-sizing: border-box;
    }
  }
}
