@import "styles/_variables";
@import "styles/_mixins";

.header2 {
  // border: 1px red solid;
  height: 4vw;
  font-family: "Noto Sans KR";
  font-weight: 300;
  font-size: 1.2rem;
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background: rgba(255, 255, 255, 0.5);

  .logo-text{
    color:white;
    position: absolute;
    top: 2vw;
    left: 3vw;
    height: 5vw;
    z-index: -1;
  }

  &.main {
    background: rgba(0, 0, 0, 0.3);
    &.turnBgWhite {
      @include animation(0s, 3s, 1, forwards, fadebgwhite);
    }
  }

  a {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    img {
      grid-column: 1/2;
      grid-row: 1/2;
      height: 4vh;
      margin-left: 5vw;

      &:nth-child(1) {
        &.turnBlue {
          @include animation(0s, 3s, 1, forwards, fadeout);
        }
      }

      &:nth-child(2) {
        opacity: 0;

        &.turnBlue {
          @include animation(0s, 3s, 1, forwards, fadein);
        }
      }
    }
  }

  ul {
    // border: 1px yellow solid;
    // height: 300%;
    // grid-column: 2/3;
    // justify-self: end;

    margin-right: 50px;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr repeat(4, 3fr) 1fr;
    grid-template-rows: 1fr;
    width: 40vw;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    // font-size: 20px;
    font-size: 1.5vw;
    text-align: center;
    position: relative;

    li {

      position: relative;
      top:0;
      display: flex;
      justify-content: center;
      align-items:center;
      z-index: 1;
      font-family: "Noto Sans KR";
      font-weight: 400;

      &:nth-child(1) {
        grid-row: 1/2;
        grid-column: 2/3;
      }

      &:nth-child(2) {
        grid-row: 1/2;
        grid-column: 3/4;
      }

      &:nth-child(3) {
        grid-row: 1/2;
        grid-column: 4/5;
      }

      &:nth-child(4) {
        grid-row: 1/2;
        grid-column: 5/6;
      }

      a {
        text-decoration: none;
        text-underline-offset: 7px;
        color: black;

        &.main {
          color: rgba(255, 255, 255, 0.9);

          &.turnColorBlack {
            @include animation(0s, 3s, 1, forwards, turnColorBlack);
          }
          &:hover {
            font-weight: 500;
            color: white;
          }
        }

        &:hover {
          text-decoration: underline;
        }

        &.active {
          text-decoration: underline;
        }
      }
    }

    .header2-menu{
      // border: 1px red solid;
      font-size: 1.3vw;
      color: white;
      position: absolute;
      top: 5vh;
      z-index: 3;
      
      height: 4vw;
  
      background: #0A347F;
      border-radius: 300px;
      display: flex;
      justify-content: space-around;
      align-items:center;
  
      cursor: pointer;
      a{
        color: white;
        text-underline-offset: 13px;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
      span{
        color: white;
        text-underline-offset: 7px;
        text-decoration: none;
      }
      &.about2{
        width: 30vw;
        left: 0%;
      }
      &.service2{
        width: 25vw;
        left: 5%;
      }
      &.project2{
        width: 38vw;
        right: 5%;
      }
      &.contact2{
        width: 33vw;
        right: 0%;
      }
      overflow: hidden;
      width: 207px;
    }
  }
}
