@import "styles/_mixins";
.navGrid {
  margin-top: 125px;
  width: 500px;
  height: calc(100vh - 150px);
  display: grid;
  column-gap: 10px;
  grid-template-columns: 1fr repeat(3, 3fr) 1fr;
  grid-template-rows: repeat(3, 2fr) 3fr repeat(3, 2fr) 5fr repeat(5, 1fr) 1fr 2fr;
  border: 1px yellow solid;
  box-sizing: border-box;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    // background: #2ecc71;
    &.about1 {
      grid-row: 1/2;
      grid-column: 2/3;
    }
    &.about2 {
      grid-row: 2/3;
      grid-column: 2/3;
    }
    &.about3 {
      grid-row: 3/4;
      grid-column: 2/3;
    }
    &.service1 {
      grid-row: 1/2;
      grid-column: 3/4;
    }
    &.service2 {
      grid-row: 2/3;
      grid-column: 3/4;
    }
    &.study1 {
      grid-row: 1/2;
      grid-column: 4/5;
    }
    &.study2 {
      grid-row: 2/3;
      grid-column: 4/5;
    }
    &.study3 {
      grid-row: 3/4;
      grid-column: 4/5;
    }
    &.contact1 {
      grid-row: 5/6;
      grid-column: 2/3;
    }
    &.contact2 {
      grid-row: 6/7;
      grid-column: 2/3;
    }
    &.contact3 {
      grid-row: 7/8;
      grid-column: 2/3;
    }
    &.ceoInfo {
      padding-left: 8%;
      justify-content: flex-start;
      font-weight: 300;
      font-size: 12px;
      grid-row: 9/10;
      grid-column: 2/5;
    }
    &.companyInfo1 {
      padding-left: 8%;
      justify-content: flex-start;
      font-weight: 300;
      font-size: 12px;
      grid-row: 10/11;
      grid-column: 2/5;
    }
    &.companyInfo2 {
      padding-left: 8%;
      justify-content: flex-start;
      font-weight: 300;
      font-size: 12px;
      grid-row: 11/12;
      grid-column: 2/5;
    }
    &.phoneInfo {
      padding-left: 8%;
      justify-content: flex-start;
      font-weight: 300;
      font-size: 12px;
      grid-row: 12/13;
      grid-column: 2/5;
    }
    &.faxInfo {
      padding-left: 8%;
      justify-content: flex-start;
      font-weight: 300;
      font-size: 12px;
      grid-row: 13/14;
      grid-column: 2/5;
    }
    &.infoDivider {
      grid-row: 14/15;
      grid-column: 1/-1;
      width: 110%;
      opacity: 0.3;
      border-bottom: 3px gray solid;
    }
    &.copyright {
      padding-left: 8%;
      justify-content: flex-start;
      font-weight: 300;
      font-size: 12px;
      grid-row: 15/16;
      grid-column: 2/5;
    }
    a {
      color: inherit;
      text-decoration: inherit;
    }
  }
}

.nav {
  margin-top: 125px;
  display: flex;
  justify-content: center;
  width: 500px;
  height: 80vh;
  border: 1px yellow solid;
  box-sizing: border-box;

  div {
    width: 135px;
    display: block;
    height: 60px;
    // &.nav-about {
    //   height: 200px;
    //   border: 1px red solid;
    //   box-sizing: border-box;
    // }
    // border: 1px white solid;
    // box-sizing: border-box;
    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      a {
        // color: red;
        color: inherit;
        text-decoration: inherit;
        // &.active {
        //   text-decoration: underline;
        // }
      }
    }
  }
}
