@import "styles/_variables";
@import "styles/_mixins";
.news {
  // position: relative;
  .news-modal {
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    // border: 3px red solid;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    .news-box {
      // top: 50%;
      // left: 50%;
      background: white;
      width: 70%;
      height: 70%;
      border-radius: 20px;
    }
  }
  @include subComponentsStyle();
  display: block;
  // border: 1px blue solid;
  // justify-content:center;
  // align-items:center;
  .filterable-table-container {
    // border: 1px red solid;
    margin: 5% 5% 0% 5%;
    div {
      &:nth-child(1) {
        .row {
          &:nth-child(1) {
            // border: 1px blue solid;
            &.header-row {
              // background:gray;
              margin-bottom: 23px;
              display: flex;
              justify-content: flex-end;
              align-items: stretch;
              div {
                &:nth-child(4) {
                  display: flex;
                  justify-items: center;
                  align-items: center;
                  background: #0a347f;
                  color: white;
                  padding: 0px 20px;
                  font-family: "Noto Sans KR";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 20px;
                  margin: 0px 0px 0px 10px;
                  cursor: pointer;
                  // border:1px white solid;
                  // box-sizing:border-box;
                  // &:hover{
                  //   border:1px #0A347F solid;
                  //   box-sizing:border-box;
                  // }
                }
              }
              .filter-container {
                // border: 1px blue solid;
                height: 34px;
                // width: 160px;
                display: flex;
                input {
                  width: 160px;
                }
                .clear-filter {
                  display: none;
                }
              }
              div {
                &:nth-child(2) {
                  display: none;
                }
                &:nth-child(3) {
                  display: none;
                }
              }
            }
          }
          &:nth-child(2) {
            display: none;
          }
        }
      }

      &:nth-child(2) {
        &.table-container {
          // border: 4px blue solid;
          div {
            table {
              width: 100%;
              border-collapse: collapse;
              thead {
                tr {
                  cursor: default;
                  user-select: none;
                  // background:gray;
                  height: 4rem;
                  border-top: 2px rgba(0, 0, 0, 0.7) solid;
                  border-bottom: 0.5px rgba(0, 0, 0, 0.5) solid;
                  th {
                    font-family: "Noto Sans KR";
                    font-style: normal;
                    font-weight: 900;
                    font-size: 20px;
                    line-height: 29px;
                    color: #333333;
                    &:nth-child(1) {
                      // color:red;
                    }
                    &:nth-child(2) {
                      text-align: left;
                      padding: 0px 90px;
                    }
                    &:last-child {
                      display: none;
                    }
                  }
                }
              }
              tbody {
                tr {
                  cursor: pointer;
                  user-select: none;
                  // background:gray;
                  border-bottom: 0.5px rgba(0, 0, 0, 0.5) solid;
                  height: 4rem;
                  white-space: nowrap;
                  overflow: hidden;
                  margin: auto;
                  text-align: center;
                  td {
                    font-family: "Noto Sans KR";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 29px;
                    color: #333333;
                    &:nth-child(1) {
                      font-family: "Montserrat";
                      font-style: normal;
                      font-weight: normal;
                      font-size: 18px;
                      line-height: 22px;
                    }
                    &:nth-child(2) {
                      text-align: left;
                      padding: 0px 90px;
                    }
                    &:nth-child(4) {
                      font-family: "Montserrat";
                      font-style: normal;
                      font-weight: 300;
                      font-size: 18px;
                      line-height: 22px;
                      text-align: center;
                      color: #333333;
                    }
                    &:last-child {
                      // display: none;
                    }
                  }
                  &:hover {
                    // font-weight:600;
                    // text-decoration: underline;
                    background: rgba(0, 0, 0, 0.02);
                    // opacity:0.7;
                  }
                }
              }
            }
          }
          nav {
            // background: gray;
            // border: 2px red solid;
            display: flex;
            justify-content: center;
            align-items: center;
            .pagination {
              list-style: none;
              // border: 2px blue solid;
              width: 30%;
              display: flex;
              justify-content: center;
              align-items: center;
              li {
                &.btn-first-page {
                  display: none;
                }
                &.btn-last-page {
                  display: none;
                }
                &.btn-prev-page {
                  display: none;
                }
                &.btn-next-page {
                  display: none;
                }
                border-radius: 50%;
                margin: 5px;
                a {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  cursor: pointer;
                  width: 20px;
                  height: 20px;
                  padding: 8px;
                }
                // background: gray;
                &.active {
                  color: white;
                  background: #0a347f;
                }
                &:hover {
                  color: white;
                  background: #0a347f;
                  // border: 2px blue solid;
                  // box-sizing:border-box;
                }
              }
            }
          }
        }
      }
    }
  }
}
