@import "styles/_mixins";
.backgroundvideo {
  position: relative;
  top: 0px;
  // width: 100vw;
  // height: 100vh;
  z-index: -1;
  color: white;
  h2 {
    position: absolute;
    bottom: 10%;
    // left: 150px;
    width: 100vw;
    font-family: "Montserrat";
    font-style: bold;
    font-weight: 900;
    // font-size: 80px;
    // font-size: 5rem;
    padding-left: 8vw;
    font-size: 5vw;
    line-height: 6vw;
    overflow: hidden;
    color: inherit;
    // border: 1px blue solid;
    // box-sizing: border-box;
    // @include widthCalc();

    // @include responsive("iphone") {
    //   color: red;
    // }
    // @include responsive("iphone-l") {
    //   color: red;
    //   border: 1px red solid;
    // }
    // @include responsive("ipad") {
    //   color: yellow;
    // }
    // @include responsive("ipad-l") {
    //   color: yellow;
    //   border: 1px yellow solid;
    // }
  }
  &.turnColorBlack {
    @include animation(0s, 3s, 1, forwards, turnColorBlack);
  }
  video {
    width: 100%;
    &.fadeout {
      @include animation(0s, 3s, 1, forwards, fadeout);
    }
  }
}
@include keyframe(turnColorBlack) {
  100% {
    color: black;
  }
  0% {
    color: white;
  }
}
@include keyframe(fadeout) {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}
