@import "styles/_mixins";

.backgroundvideo {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  color: white;
  >video{
    // border:1px red solid;
    width:100%;
  }

  .svgtest {
    position: absolute;
    bottom: 10vh;
    left: 10vw;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100vw;

    // border: 1px red solid;
    .squiggle {
      // display: none;
      stroke-dasharray: 450;
      stroke-dashoffset: 450;

      &.trigger {
        @include animation(2s, 3s, 1, forwards, draw);
      }
    }
  }
  h2 {
    position: absolute;
    bottom: 10%;
    // left: 150px;
    width: 100vw;
    font-family: "Montserrat";
    font-style: bold;
    font-weight: 900;
    // font-size: 80px;
    // font-size: 5rem;
    padding-left: 8vw;
    font-size: 5vw;
    line-height: 6vw;
    overflow: hidden;
    color: inherit;
    // border: 1px blue solid;
    // box-sizing: border-box;
    // @include widthCalc();

    // @include responsive("iphone") {
    //   color: red;
    // }
    // @include responsive("iphone-l") {
    //   color: red;
    //   border: 1px red solid;
    // }
    // @include responsive("ipad") {
    //   color: yellow;
    // }
    // @include responsive("ipad-l") {
    //   color: yellow;
    //   border: 1px yellow solid;
    // }
  }

  &.turnColorBlack {
    @include animation(0s, 3s, 1, forwards, turnColorBlack);
  }

  video {
    &.fadeout {
      @include animation(0s, 3s, 1, forwards, fadeout);
    }
  }
}
