@import "styles/_variables";
@import "styles/_mixins";

.hm3-body-wrapper {
  // position: relative;
  // border:4px red solid;
  box-sizing:border-box;

  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  
  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }

  .hm3-box1 {
    // border:4px red solid;
    box-sizing:border-box;
    // margin-bottom:4%;
    display: flex;
    justify-content: center;
    position:relative;
    height:100%;
    // >div{
    //   position:absolute;
    //   top:0;
    //   right:0;
    //   width:13vw;
    //   height:13vw;
    //   border:1px red solid;
    // }
    >div{
      // border:1px blue solid;
      position: relative;
      >div{
        position: absolute;
        top:0;
        right:0;
        width:24%;
        height:61%;
        // border:1px red solid;
        display:flex;
        flex-direction:column;
        // justify-content:stretch;
        >div{
          height:50%;
          // border:1px blue solid;
        }
      }
      >img{
        // position: absolute;
        // top:0;
        height:100%;
      }
    }
    // padding:0% 10%;
    // padding
    // > img {
    //   width: 130%;
    // }
  }
  .hm3-footer {
    // border:4px red solid;
    box-sizing:border-box;
    // position: absolute;
    // bottom:0;
    // left:0;
    // right:0;
    background: #0a347f;
    padding: 5% 6% 5% 6%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;

    color: rgba(255, 255, 255, 0.6);
    // border:1px red solid;
  }
}