@import "styles/_variables";
@import "styles/_mixins";

.app {
  // border: 1px blue solid;
  // position: fixed;
  // border: 1px red solid;
}

@include keyframe(draw) {
  to {
    stroke-dashoffset: 0;
  }
}

@include keyframe(turnBgWhite) {
  100% {
    background: rgba(250, 250, 250, 1);
  }

  0% {
    background: rgba(10, 52, 127, 0.98);
  }
}

@include keyframe(turnColorBlack) {
  100% {
    color: black;
  }

  0% {
    color: white;
  }
}

@include keyframe(fadeout) {
  100% {
    display: none;
    opacity: 0;
  }

  0% {
    opacity: 1;
  }
}

@include keyframe(fadein) {
  100% {
    // display: inherit;
    opacity: 1;
  }

  0% {
    display: none;
    opacity: 0;
  }
}

@include keyframe(slidein) {
  100% {
    // display: inherit;
    left: 50vw;
  }

  0% {
    left: 100vw;
  }
}

@include keyframe(fadebgwhite) {
  100% {
    background: rgba(255, 255, 255, 1);
  }

  0% {
  }
}
