@import "styles/_variables";
@import "styles/_mixins";

.greeting {
  @include subComponentsStyle();
  // border: 12px blue solid;
  display: flex;
  padding-top: 20vh;
  align-items: flex-start;
  justify-content: center;

  .contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    // justify-items: center;
    // align-items: center;
    place-items: center center;

    // border: 12px red solid;
    // .img {
    //   grid-row: 1/2;
    //   grid-column: 1/2;
    // }
    >.greeting-slider {
      grid-row: 1/2;
      grid-column: 1/2;
      place-self: stretch stretch;
      // display: flex;
      // justify-content: center;
      // border: 3px red solid;
      display: flex;
      justify-content: center;

    }

    .greeting-text {
      grid-row: 1/2;
      grid-column: 2/3;
      // border: 3px red solid;
      justify-self: start;
      align-self: end;
      font-family: "Noto Sans KR";
      font-style: normal;

      white-space: nowrap;
      overflow: hidden;

      // background: red;
      h2 {
        font-weight: 900;
        // font-size: 26px;
        font-size: 1vw;
        // line-height: 38px;
      }

      h3 {
        font-weight: 300;
        font-size: 1vw;
        // font-size: 18px;
        // line-height: 26px;
      }
    }
  }
}