@import "styles/_variables";
@import "styles/_mixins";
.organization {
  @include subComponentsStyle();
  padding-top: 15vh;
  height: 80vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  // border: 1px blue solid;
  .contents {
    // border: 1px red solid;
    height: 100%;
    img{
      height: 80%;
    }
    // border: 1px red solid;

    // height: 100%;
    // width: 100%;
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: 1fr;
    // place-items: left center;
  }
}
